<?xml version="1.0"?>
<robot name="raspicat_lidar_sensor" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find raspicat_description)/urdf/sensors/lidar.gazebo.xacro"/>

  <xacro:macro name="lidar_mount" params="prefix parent *joint_origin">
    <joint name="${prefix}_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>
    <link name="${prefix}_link"/>
  </xacro:macro>

  <xacro:macro name="lidar_sensor" params="prefix parent lidar_frame *joint_origin">
    <joint name="lidar_frame_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="${lidar_frame}"/>
    </joint>
    <link name="${lidar_frame}"/>
  </xacro:macro>
</robot>