<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="realsensed435_color_gazebo" params="color_fps color_width color_height pointCloud_z_min pointCloud_z_max">
  </xacro:macro>

  <xacro:macro name="realsensed435_depth_gazebo" params="depth_fps depth_width depth_height pointCloud_z_min pointCloud_z_max">
  </xacro:macro>
</robot>