<?xml version="1.0"?>
<robot name="raspicat_realsensed435_sensor" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find raspicat_description)/urdf/sensors/realsense_d435.gazebo.xacro"/>

  <xacro:macro name="realsensed435_sensor" params="prefix parent *joint_origin">
    <joint name="${prefix}_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>

    <link name="${prefix}_link"/>

    <joint name="camera_color_joint" type="fixed">
      <origin xyz="0.032 0 0" rpy="0 ${-M_PI/2} ${-M_PI/2}"/>
      <parent link="${prefix}_link"/>
      <child link="camera_color_frame"/>
    </joint>

    <link name="camera_color_frame"/>

    <joint name="camera_color_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="camera_color_frame"/>
      <child link="camera_color_optical_frame"/>
    </joint>
    
    <link name="camera_color_optical_frame"/>

    <joint name="camera_depth_joint" type="fixed">
      <origin xyz="-0.012 0 0" rpy="0 ${-M_PI/2} ${-M_PI/2}"/>
      <parent link="${prefix}_link"/>
      <child link="camera_depth_frame"/>
    </joint>

    <link name="camera_depth_frame"/>

    <joint name="camera_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="camera_depth_frame"/>
      <child link="camera_depth_optical_frame"/>
    </joint>
    
    <link name="camera_depth_optical_frame"/>
  </xacro:macro>
</robot>