<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="realsensed435_color_gazebo" params="color_fps color_width color_height pointCloud_z_min pointCloud_z_max">
    <gazebo reference="camera_color_frame">
      <sensor type="depth" name="color_camera">
        <update_rate>${color_fps}</update_rate>
        <camera name="color_and_aligned_depth_camera">
          <horizontal_fov>${radians(69.4)}</horizontal_fov>
          <image>
            <width>${color_width}</width>
            <height>${color_height}</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>${pointCloud_z_min}</near>
            <far>${pointCloud_z_max}</far>
          </clip>
        </camera>
        <plugin name="color_and_aligned_depth_camera" filename="libgazebo_ros_openni_kinect.so">
          <baseline>0.2</baseline>
          <alwaysOn>true</alwaysOn>
          <updateRate>${color_fps}</updateRate>
          <cameraName>camera</cameraName>
          <depthImageTopicName>aligned_depth_to_color/image_raw</depthImageTopicName>
          <depthImageCameraInfoTopicName>aligned_depth_to_color/camera_info</depthImageCameraInfoTopicName>
          <imageTopicName>color/image_raw</imageTopicName>
          <cameraInfoTopicName>color/camera_info</cameraInfoTopicName>
          <pointCloudTopicName>aligned_depth_to_color/points</pointCloudTopicName>
          <pointCloudCutoff>${pointCloud_z_min}</pointCloudCutoff>
          <pointCloudCutoffMax>${pointCloud_z_max}</pointCloudCutoffMax>
          <frameName>camera_color_optical_frame</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="realsensed435_depth_gazebo" params="depth_fps depth_width depth_height pointCloud_z_min pointCloud_z_max">
    <gazebo reference="camera_depth_frame">
      <sensor type="depth" name="depth_camera">
        <update_rate>${depth_fps}</update_rate>
        <camera name="depth_camera">
          <horizontal_fov>${radians(91.2)}</horizontal_fov>
          <image>
            <width>${depth_width}</width>
            <height>${depth_height}</height>
            <format>B8G8R8</format>
          </image>
          <clip>
            <near>${pointCloud_z_min}</near>
            <far>${pointCloud_z_max}</far>
          </clip>
        </camera>
        <plugin name="depth_camera_controller" filename="libgazebo_ros_openni_kinect.so">
          <baseline>0.2</baseline>
          <alwaysOn>true</alwaysOn>
          <updateRate>${depth_fps}</updateRate>
          <cameraName>camera/depth</cameraName>
          <depthImageTopicName>image_rect_raw</depthImageTopicName>
          <depthImageCameraInfoTopicName>camera_info</depthImageCameraInfoTopicName>
          <imageTopicName>color/image_raw</imageTopicName>
          <cameraInfoTopicName>color/camera_info</cameraInfoTopicName>
          <pointCloudTopicName>color/points</pointCloudTopicName>
          <pointCloudCutoff>${pointCloud_z_min}</pointCloudCutoff>
          <pointCloudCutoffMax>${pointCloud_z_max}</pointCloudCutoffMax>
          <frameName>camera_depth_optical_frame</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>