<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ultrasonic_sensor_gazebo" params="prefix min_angle max_angle min_range max_range visualize">
    <gazebo reference="${prefix}_usensor_link">
      <sensor type="ray" name="${prefix}_ultrasonic_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>${visualize}</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>10</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.001</resolution>
          </range>
        </ray>
        <plugin name="gazebo_ros_${prefix}_ultrasonic_sensor_controller" filename="libgazebo_ros_range.so">
          <topicName>${prefix}_ultrasonic_sensor</topicName>
          <frameName>${prefix}_usensor_link</frameName>
          <gaussianNoise>0.005</gaussianNoise>
          <alwaysOn>true</alwaysOn>
          <updateRate>10</updateRate>
          <radiation>ultrasound</radiation>
          <fov>0.2967</fov>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>