<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="model" default="$(find raspicat_description)/robots/raspicat.urdf.xacro"/>
  <arg name="rviz_config" default="$(find raspicat_description)/launch/config/urdf.rviz"/>
  <arg name="joint_state_gui" default="true"/>
  <arg name="namespace" default="/" />

  <include file="$(find raspicat_description)/launch/load_robot_description.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <!-- joint_state_publisher -->
  <node if="$(arg joint_state_gui)" 
    name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  
  <node unless="$(arg joint_state_gui)" 
    name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  
  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" required="true"/>
</launch>